/bin/
/.settings/
/.classpath
/.project
/dist/
/build/
/nbproject/
/data/
/error.lock
/error.txt
/test.out.txt
.DS_Store
/.idea/
*.iml
*.ipr
*.iws
.checkstyle
/temp/
/h2web/
.pmd
docs/html/testOutput.html
